.UserDataForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.UserFormControl {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.UserFormInput,
.UserFormSubmit {
    width: 100%;
    padding: .5rem;
    border-radius: 7px;
    border: none;
    border-left: 8px solid #ccc;
    font-size: 12px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.UserFormSubmit {
    width: 300px;
}

.UserFormInput input,
.UserFormSubmit input {
    border: none;
    outline: none;
    background-color: transparent;
}

.UserFormInput:focus-within,
.UserFormSubmit:focus-within {
    border-left: 8px solid #1877F2;

}

.UserFormInput label,
.UserFormSubmit label {
    transition: 0.2s ease all;
    color: #999;
}

.UserDataSubmit {
    background-color: #17191f;
    padding: 2rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.UserFormSubmitControl {
    display: flex;
    gap: 10px
}

.UserFormSubmitControl button {
    width: 150px;
    border-radius: 15px;
    border: none;
    color: #fff;
    background-color: #1877F2;
    cursor: pointer;
    opacity: .8;
    transition: .2s;
}

.UserFormSubmitControl button:hover {
    opacity: 1;
}

.UserFormInput input:disabled,
.UserFormSubmit input:disabled {
    cursor: not-allowed;
}

.disabledInput {
    background-color: #ccc;
}

.disabledInput:focus-within {
    border: none;
}

.changePassBtn {
    background-color: transparent;
    border: none;
    font-weight: bold;
    color: #1877F2;
    cursor: pointer;
    transition: .2s;
    width: 110px;
    font-size: 15px;
}

.changePassBtn:hover {
    color: #093d81;
}

.passwordInputContainer {
    display: flex;
    align-items: center;
    border-radius: 7px;
    background-color: #ccc;
}

.passwordInputContainer button {
    width: 150px;
}

.error {
    border: 1px solid red;
}

.verifyPassInput {
    position: relative;
}

.verifyPassInput button {
    width: 20px;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    color: #17191f;
}