.backgroundChangeContainer{
    background-image: url('https://minhas-imagens-2025.s3.sa-east-1.amazonaws.com/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.ChangeContainer {
    background-color: #FFF;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 700px;
    padding: 5rem; 
    color: #4b4e55;
    gap: 2rem;
}



