
.RecoverContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;

}

.logo {
    color: #17191f;
}

.recoverInput input{
    width: 100%;
    border: 1px solid #ccc;
    padding: .7rem;
    border-radius: 5px;
}

.recoverInput input:focus {
    outline: none; 
    box-shadow: none;
    border: 1px solid #000; ;
}

.controlRecoverContainer{
    display: flex;
    align-self: flex-end;
    gap: 1rem;
}

.bbutton,
.rbutton {
    padding: .5rem 1rem;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s;
    font-weight: bold;
    opacity: .8;
}

.bbutton {
    background-color: #FFF;
    border: 3px solid #17191f;
    color: #17191f;
}

.rbutton {
    background-color: #17191f;
    border: none;
    color: #fff;
}


.bbutton:hover,
.rbutton:hover {
    opacity: 1;
}
