.ticketUserContainer {
    display: flex;
    border-radius: 8px;
    background-color: #17191f;
    position: relative;
    cursor: pointer;
    height: 160px;
    margin-bottom: 2rem;
}

.filmCover {
    width: 120px;
    height: 160px;
    display: flex;
    background-color: #eee;
}

.filmCover img {
    width: 100%;
    height: auto;
    object-fit: cover;
    z-index: 1;
}

.ticketData {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    background-color: #17191f;
    position: absolute;
    top: 60%;
    z-index: 2;
    width: 100%;
    border-radius: 0 0 15px 15px;
    padding: .5rem;

}

.sessionDate {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.titleMovieName h4 {
    font-size: 13px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.sessionDay {
    text-align: center;
    padding: .2rem;


}

.ticketDetails {
    display: flex;
    justify-content: space-around;
    font-size: 12px;
    font-weight: bold;

}