.backgroundRegisterContainer {
   background-image: url('https://minhas-imagens-2025.s3.sa-east-1.amazonaws.com/background.jpg');
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   min-height: 100vh;
   display: flex;
   position: relative;
}

.crossBtn {
   position: absolute;
   top: 0;
   right: 0;
   margin: 3rem 5rem;
   background-color: transparent;
   color: #fff;
   border: none;
   padding: .5rem;
   font-weight: bold;
   font-size: 30px;
   cursor: pointer;
   transition: .3s;
   opacity: .7;
}

.crossBtn:hover {
   opacity: 1;
}

.registerContainer{
   background-color: #17191f;
   padding: 2rem;
   margin: 2rem    auto;
   border-radius: 10px;
   gap: 1rem;
   width: 600px;
   flex-direction: column;
   align-self: center;
}

.registerForm{
   display: flex;
   flex-direction: column;
   flex-grow: 3;
   margin: 0 auto;
   height: 600px;
   justify-content: space-around;
}

.registerFormControl,
.inputError {
   display: grid;
   flex-direction: column;
   grid-gap: .3rem;
}


.registerFormControl input:focus,
.inputError input:focus {
   outline: none;
   box-shadow: none;
}

.passwordInput{
   position: relative
}

.registerFormControl input{
  width: 100%;
  padding: 10px;
  padding-right: 40px;
  font-size: 13px;
  border-radius: 4px;
  border: none;
  border-left:6px solid #17191f;
}

.inputError input {
   width: 100%;
   padding: 10px;
   padding-right: 40px;
   font-size: 13px;
   border: 1px solid #e53935;
   border-radius: 4px;
   background-color: #ffebee;
}


.passwordInput button{
   position: absolute;
   top: 50%;
   right: 10px;
   transform: translateY(-50%);
   background: none;
   border: none;
   cursor: pointer;
   outline: none;
}

.register-btn {
    color:#fff;
    font-weight: bold;
    border: 1px solid #fff;
    padding: .5rem 1rem;
    border-radius: 1rem;
    opacity: 1;
    transition: .3s;
    background-color: #17191f;
    width: 100px;
    margin: 0 auto;
    cursor: pointer;
}

.register-btn:hover {
   color: #17191f;
   background-color: #fff;
}

.errorMessage {
   padding: 0 .5rem;
   font-size: 13px;
   color: #e53935;
   height: 10px;
}

.checked {
   color: #0ee04d;
}

.logLink{
   text-align: center;
   font-weight: 100;
   color: #fff;
   font-size: 15px;
}

.registerControl{
   display: flex;
   justify-content: space-around;
   padding: 1rem;
}

.registerControl button {
   padding: .5rem 1rem;
   transition: .2s;
   border: none;
   border-radius: 25px;
   cursor: pointer;
}

.registerControl button:hover {
   background-color: #696969;
   color: #fff;
}

.createBtn{
   background-color: #FFD700;
}


