.navbarContainer {
    background-color: #17191f;
    display: flex;
    justify-content: center;
}

.navbarInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 1100px;
    
}

.navbarInfo h1 a{
    opacity: 1;
}

.navbarInfo ul {
    display: flex;
    gap: 1rem;
}

.btn {
    font-weight: bold;
    border: 1px solid #fff;
    padding: .5rem 1rem;
    border-radius: 1rem;
    opacity: 1;
    transition: .3s;
}

.btn:hover {
    color: #17191f;
    background-color: #fff;
}



.searchBtn{
    border: none;
    background-color: none;
    cursor: pointer;
    font-size: 20px;
    color: #fff;
    background-color: transparent;
    transition: .3s;
    opacity: .7;
}



.userIcon {
    color: #000;
    font-size: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.searchBtn:hover{
    opacity: 1;
}

.navbarTools{
    display: flex;
    justify-content: space-between;
}

.navbarMenuContainer{
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: .8rem 1rem; 
    transition: .2s;
    cursor: pointer;
}

.navbarMenuContainer:hover{
    background-color: #000;
}

.navbarLinks{
   display: flex;
   align-items: center; 
}




