.menuContainer {
    position: relative;
    display: inline-block;
}

.active {
    background-color: #000000;
}

.menuButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #Fff;
    display: flex;
    gap: 10px;
    align-items: center;
}

.menuItems{
    
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 137%;
    left: -4.5rem;
    z-index: 2000;
    background-color: #000000;
    padding: 1rem;
    width: 190px;

}

.menuItem {
    display: flex;
    gap: .5rem;
    align-items: center;
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 999;
}


.menuButton img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #Fff;
}

.outBtn {
    display: flex;
    align-items: center;
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: bold;
    opacity: .6;
    font-size: 15px;
    transition: .3s;
    gap: .5rem;
}

.outBtn:hover {
    opacity: 1;
}

.UserDataBtn{
    display: flex;
    justify-content: space-between;
}