.paginationControls{
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.moviesResultContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    justify-content: start;
    
}

.movieInfoContainer{
    max-width: 200px;
    text-align: center;
}

.movieImg img {
    width: 100%;
}

.movieInfo p{
    font-size: 13px;
}

.paginationControls {
    display: flex;
    gap: .5rem;
}

.paginationBtn{
    padding: .3rem;
    color: #fff;
    background-color: transparent;
    border:none;
    font-size: 12px;
    text-align: center;
}

.fixed {
    font-size: 14px;
}

.atualPage{
    border-bottom: 1px solid #ccc;
}
