.createNewPassContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: #202229;
    transform: translate(-50%, -50%);
    z-index: 2;
    padding: 2rem;
    border-radius: 5px;
}

.createNewPassContainer h1 {
    padding-bottom: 1rem;
}

.createPasswordInput {
    position: relative
}

.createPasswordInput input {
    width: 100%;
    padding: 10px;
    padding-right: 40px;
    font-size: 13px;
    border-radius: 4px;
    border: none;
    border: 1px solid #ccc;
}

.createFormControl {
    display: grid;
    flex-direction: column;
    grid-gap: .5rem;
}

.createFormControl input:focus {
    outline: none;
    box-shadow: none;
}

.createPasswordInput button {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    color: #17191f;
}

.filterCreatePassword {
    margin-bottom: 2rem;
}

.filterCreatePassword p {
   opacity: .8;
}

.createPassowrdBtn {
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.createPassowrdBtn button{
    padding: .5rem 1rem;
    background-color: #1877F2;
    color: #fff;
    border: 1px solid #17191f;
    cursor: pointer;
    transition: .2s;
    border-radius: 5px;
    min-width: 80px;
}

.createPassowrdBtn button:hover {
    background-color: #fff;
    color: #17191f;
    border: 1px solid #17191f;
}

.inputError input {
    border: 1px solid red;
}

.createPasswordInputError input {
    border: 1px solid red;
}

.errorCreatePassMessage {
    color: red;
    height: 30px;
}


