.ticketContainer{
    display: flex;
    width: 80%;
    flex-direction: column;
    gap: 2rem;
}

.ticket{
    background-color: #2d2f36;
    padding: 1rem;
    flex: 1;
    color: #fff;
    display: flex;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
   
}

.ticketInfo {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: .5rem;
}


.ticketIcon {
    font-size: 34px;
    transform: rotate(45deg);
}

.ticketControl{
    display: flex;
    gap: 10px;
}

.ticketButton {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    border: none;
    color: #fff;
    cursor: pointer;
    background-color: #585885;
}

.select {
    background-color: #774baf;
}

.deselect {
    background-color: #1c1c20;
}

.ticketTitle{
    font-weight: bold;
    color: #fff;
}